@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@layer base { 
  
  html,
  body {
    font-size: 62.5%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family:"Montserrat" ,sans-serif !important;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    font-size: 62.5%;
  }
}
